.card{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border: 1px solid rgba(34, 60, 80, 0.2);
    margin-bottom: 1rem;
    width: 340px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    &__img{
        width: 100px;
        height: 100px;
        padding-right: 30px;
        img{
            height: 100%;
            width: 100%;
            border-radius: 360px;
        }
    }
    &__info{

    }
    &__button{
        width: 150px;
        height: 35px;
        padding-top: 10px;
    }
}